
    body {
        background-image: url("2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center; 
    }
    img{
        width: 200px;
    }
    div {
        display: flex;
        justify-content: center;
        margin-top: 225px;
       position: inherit;
    }
