body{ 
    font-family: 'Inter', sans-serif;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}  
div.scrollmenu a:hover {
    background-color: #f3efef;
}
h1{
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    margin-top: 10%;
    margin-left: 10%;
}
p{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    padding-left:  10%;
    padding-right: 20%;
}
  