body{ 
    font-family: 'Inter', sans-serif;
}
/*Naivigation Bar*/ 
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}  
div.scrollmenu a:hover {
    background-color: #f3efef;
}
.title{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    margin-left: 10%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    padding: 50px;
}

.column {
    flex: 1;
    max-width: 400px;
}

.column.image img {
    width: 100%;
    height: auto;
    display: block;
}

.column.text {
    flex: 2;
}
