body {
    background-image: url('https://i.pinimg.com/564x/de/fa/88/defa88565e5a9d0a8b265de30bddba7f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
h1{
    font-size: 100px;
    font-family: 'Titan One', sans-serif;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}