body { 
    background-color: rgb(245, 240, 186), 0.7;
    background-color: #81BECE;
    /*this color might work
    background-color: yellow;*/
    font-family:Arial, Helvetica, sans-serif;
}
h3 {
     font-size: 100px;
     font-weight: normal;
     font-size: italic;
     font-family:Georgia, 'Times New Roman', Times, serif;
     background-color: #E8EDE7
}

































































p {
    font-size: 30px;
    color: #012E4A
}